{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>About Me </title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
{% endblock css %}

{% block body %}
<div class="container">
    <!-- img coontainer  -->

    <div class="container text-center">
        <img src="{% static 'images/a.jpg.jpeg' %}" alt="" width="200px">
    </div>

    <!-- name container  -->
    <div class="container">
        <p class="display-5">Ritesh Sharma</p>
    </div>

    <!-- content container  -->
    <div class="container ">
        
           
                    <p>Hlo My Name is Ritesh Sharma <br> I lived in Thane <br> I did my    graducation in Bscit 
                    from dnyan ganga education college in year 2022 <br> i passout my graduation now i am doing python full stack developer training <br> from squad infotic classes in thane.</p>
                   
                
</div>
{% endblock body %}



