....................................................................................................................................................{% extends 'base.html' %} 
{% load static %}

{% block title %}
<title>Projects Page</title>
{% endblock title %}


{% block css %}
{% endblock css%}

{% block body %}
       <!-- heading  -->


       <div class="container bg-primary p-2 text-center mb-5 text-light rounded shadow" >
        <h1 class="display-6">Experience Details</h1>

    </div>
    <div>
        <h1>Fresher</h1>
        <p class="bold">Seeking a challenging position in a reputed organization where I can learn new skills, expand my knowledge, and leverage my learnings.</p>
    </div>
{% endblock body %}
